<div class="main">
  <div class="header">
    <div class="title-section">
      <div class="title-sub">
        <h3 class="title">Work locations</h3>
        <mat-icon>bookmark_border</mat-icon>
      </div>
      <p class="title-sub-text">List of all work locations</p>
    </div>
    <div class="action-section">
      <div>
        <input class="nosubmit" type="search" placeholder="Search..." />
      </div>
      <div class="view-section">
        <mat-icon>list</mat-icon>
        <mat-icon>grid_on</mat-icon>
      </div>
      <div>
        <button mat-button class="location-btn" (click)="addLocation()">
          NEW LOCATION
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="locations.length > 0; else noLocations"
    cdkDropList
    class="location-list"
    (cdkDropListDropped)="drop($event)"
  >
    <mat-accordion
      *ngFor="let location of locations"
      class="location-box"
      [togglePosition]="'before'"
      cdkDrag
    >
      <mat-expansion-panel
        [expanded]="false"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ location.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div *ngFor="let childLocation of getChildLocations(location)">
            {{ childLocation?.name }}
          </div>
        </div>
      </mat-expansion-panel>

      <!-- <div class="location-box" *ngFor="let location of locations" cdkDrag>
      {{ location.name }}
    </div> -->
    </mat-accordion>
  </div>
  <ng-template #noLocations>
    <div class="no-location">
      <p>No Locations</p>
      <button mat-button class="location-btn" (click)="addLocation()">
        NEW LOCATION
      </button>
    </div>
  </ng-template>
</div>
