<div class="main">
  <div class="header">
    <div class="title-section">
      <div class="title-sub">
        <h3 class="title">Work locations</h3>
        <mat-icon>bookmark_border</mat-icon>
      </div>
      <p class="title-sub-text">List of all work locations</p>
    </div>
    <div class="action-section">
      <div>
        <input class="nosubmit" type="search" placeholder="Search..." />
      </div>
      <div class="view-section">
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle
            *ngFor="let view of views"
            aria-label="Text align right"
            (change)="loadSection(view)"
            [checked]="isActive === view"
          >
            <mat-icon>{{ view === "list" ? "list" : "grid_on" }}</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div>
        <button mat-button class="location-btn" (click)="addLocation()">
          NEW LOCATION
        </button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
