<div class="main">
  <div class="header">
    <div class="title-section">
      <div class="title-sub">
        <h3 class="title">Work locations</h3>
        <mat-icon>bookmark_border</mat-icon>
      </div>
      <p class="title-sub-text">List of all work locations</p>
    </div>
    <div class="action-section">
      <div>
        <input class="nosubmit" type="search" placeholder="Search..." />
      </div>
      <div class="view-section">
        <mat-button-toggle-group #group="matButtonToggleGroup">
          <mat-button-toggle
            *ngFor="let view of views"
            aria-label="Text align right"
            (change)="loadSection(view)"
            [checked]="isActive === view"
          >
            <mat-icon>{{ view === "list" ? "list" : "grid_on" }}</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div>
        <button mat-button class="location-btn" (click)="addLocation()">
          NEW LOCATION
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="locations.length > 0; else noLocations"
    cdkDropList
    class="location-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div *ngIf="isActive === 'list'">
      <mat-accordion
        *ngFor="let location of locations"
        class="location-box"
        [togglePosition]="'before'"
        cdkDrag
      >
        <mat-expansion-panel
          [expanded]="false"
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ location.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div *ngFor="let childLocation of getChildLocations(location)">
              {{ childLocation?.name }}
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="isActive === 'grid'" class="grid-list">
      <div
        *ngFor="let location of locations"
        class="location-grid-box"
        [ngClass]="{
          pointer: getChildLocations(location).length > 0
        }"
        (click)="goToLocation(location)"
      >
        <div>{{ location.name }}</div>
        <mat-icon *ngIf="getChildLocations(location).length > 0"
          >keyboard_arrow_right</mat-icon
        >
      </div>
    </div>
  </div>
  <ng-template #noLocations>
    <div class="no-location">
      <p>No Locations</p>
      <button mat-button class="location-btn" (click)="addLocation()">
        NEW LOCATION
      </button>
    </div>
  </ng-template>
</div>
